.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    padding-top: 100px;
    justify-content: center;
    background-color: rgba(226, 226, 226, 0.459);
    /* background-image: url("../../../assets/style/img/luke-chesser-3rWagdKBF7U-unsplash-2.jpg");
    background-position: center; */
    /* background-repeat: repeat; */
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(64,9,121,1) 27%, rgba(0,0,0,0.9122023809523809) 100%);
    object-fit: fill;
    background-size: cover;
    height: 100%;
    align-content: flex-start
}

.home .log-to {
    color: aliceblue;
    font-size: 15px;
    background-color: rgb(32, 32, 32);
    border: 2px solid #FFD700;
    padding: 0 10px;
    border-radius: 10px;
}

h2 {
    color: rgb(32, 32, 32);
    font-size: 24px;
    margin: 0;
    background-color: rgba(226, 226, 226, 0.459);
    text-align: center;
    padding: 30px 0px 30px 0px;
}

.home .cart-item-name h3 {
    color: #FFD700;
    font-size: 20px;
}

.home .cart-item img {
    width: 200px;
    height: auto;
    margin: 0 auto;
    border: 2px solid #FFD700;
    border-radius: 30px;
}

.home .cart-item {
    background: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    margin-bottom: 100px;
    width: 350px;
    height: 200px;
    padding: 50px;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
}

.home .cart-item:hover {
    transform: scale(1.1);
    border: 5px solid #FFD700;
    transition: ease-in-out 300ms;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.home .cart-item .cart-item-add {
    margin-top: 10px;
    cursor: pointer;
}

.home .cart-item .cart-item-add button {
    background: none;
    border: none;
    color: rgb(32, 32, 32);
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 30px;
    transition: ease-in-out 300ms;
    background-color: rgb(32, 32, 32);
    color: #FFD700;
    border-radius: 20px;
    border: 2px solid #FFD700;
}

.home .cart-item .cart-item-add button:hover {
    background-color: #FFD700;
    color: rgb(32, 32, 32);
    transform: scale(1.1);
    transition: ease-in-out 300ms;
}

.home .cart-item .cart-item-remove {
    margin-top: 10px;
    cursor: pointer;
}

.home .cart-item .cart-item-remove button {
    background: none;
    border: none;
    color: rgb(32, 32, 32);
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 30px;
    transition: ease-in-out 300ms;
    background-color: rgb(32, 32, 32);
    color: #FFD700;
    border-radius: 20px;
    border: 2px solid #FFD700;
}

.home .cart-item .cart-item-remove button:hover {
    background-color: #FFD700;
    color: rgb(32, 32, 32);
    transform: scale(1.1);
    transition: ease-in-out 300ms;
}

.home .cart-item h3 {
    margin: 5px 0;
}

.home .cart-item-stock {
    color: #FFD700;
}

.home .cart-item-stock span {
    color: aliceblue;
}

.home .cart-item-category {
    border-top: 2px solid aliceblue;
    color: #FFD700;
}


/* Media Queries */

@media (max-width: 767px) {
    .home {
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 400px) {
    .home .cart-item {
        width: 250px;
        height: 150px;
        padding: 30px;
    }
}