/* Style the outer navigation container */
.nav {
    background-color: rgb(32, 32, 32);
    color: #fff; /* Text color */
  }
  
  /* Style the navigation list */
  .nav-list {
    list-style: none; /* Remove list bullet points */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center-align child elements horizontally */
    padding: 0; /* Remove default padding */
  }
  
  /* Style individual navigation items */
  .nav-item {
    margin: 0 20px; /* Add spacing between navigation items */
  }
  
  /* Style the active navigation item */
  .nav-item.active {
    border-bottom: 2px solid #fff; /* Highlight the active item with a bottom border */
  }
  
  /* Style the navigation buttons */
  .nav-item button {
    background: none; /* Remove background color */
    border: none; /* Remove border */
    color: inherit; /* Use the parent's text color */
    font-size: 16px; /* Adjust the font size as needed */
    cursor: pointer; /* Show a pointer cursor on hover */
  }
  
  /* Style the navigation buttons on hover */
  .nav-item button:hover {
    text-decoration: none; /* Add underline on hover */
    color: #FFD700; /* Change text color on hover */
    transform: scale(1.1);
    transition: ease-in-out 300ms;  /* Add a transition effect */
  }

  #hamburger i {
    color: #FFD700;
  }
  
  #hamburger {
    display: none;
  }
  
  .nav-list a:hover,
  .nav-list a.active {
    color: #FFD700;
    transition: ease-in-out 300ms;
  }
  
  .nav-list a.active {
    color: #FFD700;
    transition: ease-in-out 300ms;
  }

  .ham-pic {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .nav-list {
      flex-direction: column; /* Stack items vertically on small screens */
      gap: 20px; /* Add spacing between items */
      height: 100vh;
    }
  
    .nav-item {
      margin: 0; /* Remove spacing between items */
    }

    .nav-list {
      display: none;
    }
  
    .nav-list.active {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 85vh;
      margin-top: 20px;
      padding: 0px 5rem;
      background-color: transparent;
      font-size: 1.6rem;
    }
  
    .nav-list li {
      border-bottom: 2px solid #FFD700;
      padding-bottom: 10px;
      padding-top: 10px;
    }

    #hamburger {
      display: block;
      cursor: pointer;
    }
  
    #hamburger i {
      font-size: 2rem;
      margin-top: 10px;
      cursor: pointer;
      border: none;
    }

    .ham-pic {
      width: 200px;
      height: auto;
      margin: 0 auto;
      margin-top: 70px;
      display: flex;
    }

  }