.header {
  background-color: rgb(32, 32, 32);
  color: #fff;
  padding: 25px 0;
  text-align: center;
  width: 100%;
}

.header-content {
  margin: 0 auto;
  display: flex;
  flex-direction: row; /* Stack content vertically on small screens */
  align-items: center; /* Center content horizontally */
  justify-content: space-between; /* Center content vertically */
  margin: auto 20px auto 20px ; /* Add some spacing between the content and the navigation */
  
}

.header-left {
  align-items: center; /* Center content horizontally */
}

.header-left span {
  color: #FFD700;
}

.header-right {
  display: flex;
  flex-wrap: wrap; /* Wrap navigation links on small screens */
  justify-content: center; /* Center navigation horizontally */
}

h1 {
  font-size: 24px;
  margin: 0;
}

/* Add a media query for smaller screens */
@media (max-width: 767px) {
  .header-content {
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
  }

  .header-right {
    margin-top: 20px; /* Add spacing between name and navigation */
  }
}